@page
@model project.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-home-wrapper d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-5">Chinook Album Manager</h1>
        <p class="lead">Project submission for COMP09020 - Internet Scripting</p>
        <p style="pt-0">Corey Black -- B01651145</p>
        <a class="btn btn-primary btn-lg mt-4" href="/Albums">Manage Albums</a>
    </div>
</div>
